<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Citas</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../statics/archivos/favicon.ico" />
    <!--CSS B-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--ICON B-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../statics/css/styles.css" media="screen" />
    <nav class="navbar navbar-expand-md">
        <section class="container-fluid">
            <!--ICON-->
            <a class="navbar-brand" href="index.html">
                <img id="imgmenu" src="../statics/archivos/img/logo.jpg" alt="Logo Health Priority">
            </a>
            <!--Bot-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--Elementos colapsables-->
            <section class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item me-auto"><a id="letramenu" class="nav-link" href="contacto.html">Contacto</a></li>
                    <li class="nav-item me-auto"><a id="letramenu" class="nav-link" href="ingreso.html">Ingresar</a></li>
                </ul>
                <hr class="navbar-navtext-light">
            </section>
        </section>

    </nav>

</head>

<body>
    <br><br><br>
    <h1>Agendar cita</h1>

    <section class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="cita.html">Cita médico general</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="autorizacion.html">Autorizaci&oacute;n</a>
            </li>
        </ul>

        <div class="row g-3 mt-3" id="formRegistro">
            <br><p id="subtitulos">Por favor ingresa los siguientes datos</p>
            <section class="col-12">
                <input type="text" class="form-control" placeholder="Nombre autorización" required>
            </section>
            <section class="col-12">
                <p>Tipo de utorización: <br>
                    Exámenes médicos <input type="radio" name="ref"><br>
                    Médico especialista <input type="radio" name="ref" checked> 
                </p>
            </section> 
            <section class="col-12">
                <p>Subir el soporte de la autorización en formato PDF: 
                <input type="file" required>
                </p>
            </section>
            <button type="submit" id="BtnRegistar" class="btn btn-secondary">Subir autorización</button>
            <br>
        </form>
    </section>
    <br><br>
    <!--JS B-->
    <script src="../statics/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
<br><br>
<footer >
    <section class="container">
        <section class="row" >
            <section class="col-11">
                <p id="frasefooter">© 2023 Priority Health. All Rights reserved</p>
            </section>
        </section>
    </section>
  </footer>

</html>